{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- header -->
<div class="header">
    <div class="overlay w100 h100 d-flex justify-content-center align-items-center">
        <div class="content-box txt-white text-center mxw-700">
            <h1 class="mb-5" data-aos="fade-up">Providing messaging and voice services to businesses in the United States and beyond.</h1>
        </div>
    </div>
</div>
<!-- end of header -->
<!-- about -->
<section class="py-5 text-success" id="about">
    <div class="container">
      <h1 class="display-6 text-center">ABOUT US</h1>
        <div class="row">
            <div class="col fz-sm" data-aos="fade-up" data-aos-delay="200">
                Itsready is a mobile responsive application enabling instant text messaging and voice calling. Service 
providers rely on our platform to communicate with their customers at the click of a button. This 
application is an intellectual property of Nivee LLC.

            </div> 
        </div>
    </div>
</section>
<!-- end of about -->
<!-- contact -->
<section class="bg-success py-5 text-white" id="contact">
    <div class="container">
      <h1 class="display-6 text-center">CONTACT US</h1>
        <div class="row">
            <div class="col-md-6" data-aos="fade-left">
                <h2 class="display-4 ttc" style="font-size: 2.5rem;">send us a message</h2>
                <p>Please email us via support@itsreaddy.com or send us a message here and we will reply via email within 24 hrs.</p>
            </div>
            <div class="col-md-6" data-aos="fade-right">
                <form class="p-2">
                    <div class="row p-2">
                      <div class="col-sm-6 mb-2 mb-sm-0">
                        <input type="text" class="form-control" placeholder="Your name" required>
                      </div>
                      <div class="col-sm-6">
                        <input type="email" class="form-control" placeholder="Your email" required>
                      </div>
                    </div>
                    <div class="row p-2">
                        <div class="col">
                            <textarea class="w-100 h-20rm form-control" style="height: 10rem;" required></textarea>
                        </div>
                    </div>
                    <div class="col p-2">
                        <input type="submit" class="btn btn-light text-success font-weight-bold"></input>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>
<!-- end of contact -->
<!-- faq -->
<section class="py-5 text-success" id="about">
    <div class="container">
     <h1 class="display-6 text-center">FAQs</h1>
        <div class="row py-5">
            <div class="col fz-sm">
                <div class="accordion" id="accord-parent" style="max-width: 600px; margin: 0 auto;">
                    <!-- start -->
                    <div class="card" data-aos="fade-up">
                      <div class="card-header bg-success" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link text-white font-weight-bold w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Do you have user limitation?
                          </button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accord-parent">
                        <div class="card-body">
                            Yes, five users per account.
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="card" data-aos="fade-up" data-aos-delay="200">
                      <div class="card-header bg-success" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed text-white font-weight-bold w-100" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Do you have usage limitations?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accord-parent">
                        <div class="card-body">
                            No, you can choose to send a text message or a voicemail to one person at a time or send 
to many people at once.
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="card" data-aos="fade-up" data-aos-delay="300">
                      <div class="card-header bg-success" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed text-white font-weight-bold w-100" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Is this application globally available?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accord-parent">
                        <div class="card-body">
                            Yes, Itsready can be accessed in any part of the world
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="card" data-aos="fade-up" data-aos-delay="400">
                      <div class="card-header bg-success" id="headingFour">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed text-white font-weight-bold w-100" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            How do I access the application?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accord-parent">
                        <div class="card-body">
                            You can download the application from google play or apple store. You  can also access it 
directly through a browser. The website is www.itsreaddy.com
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="card" data-aos="fade-up" data-aos-delay="500">
                      <div class="card-header bg-success" id="headingFive">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed text-white font-weight-bold w-100" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            How do I register?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accord-parent">
                        <div class="card-body">
                            Registration is easy. Download the application or go to the website and click register. 
                            Answer few questions and your account is ready for use immediately.
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="card" data-aos="fade-up" data-aos-delay="600">
                      <div class="card-header bg-success" id="headingSix">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed text-white font-weight-bold w-100" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Is this a paid application?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accord-parent">
                        <div class="card-body">
                            Yes, but we have a one-week trial period before we charge you. Subscription 
                            renews each month until canceled.
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="card" data-aos="fade-up" data-aos-delay="700">
                      <div class="card-header bg-success" id="headingSeven">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed text-white font-weight-bold w-100" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            How much do you charge per subscription?
                          </button>
                        </h2>
                      </div>
                      <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accord-parent">
                        <div class="card-body">
                            $4.99/month
                        </div>
                      </div>
                    </div>
                    <!-- end -->
                  </div>
            </div> 
        </div>
    </div>
</section>
<!-- end of faq -->
<!-- signup alert -->
{% for message in messages %}
<div class="signup-alert alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
<!-- end of signup alert -->
{% endblock %}