{% extends "base.html" %}
{% load static %}
{% block title %}
Our Terms and Conditions
{% endblock %}
{% block content %}
<style>
    main {
        min-height: 80vh;

        & h1 {
            text-transform: uppercase;
            color: var(--green);
            font-size: 2.2rem!important;
        }
    }
</style>
<main class="container py-5">
    <h1 class="text-center my-4">terms and conditions</h1>
    <h5>Please read these Terms and Conditions ("Terms") carefully before using the Itsready Mobile App
        provided by Nivee LLC ("we," "us," or "our"). By accessing or using the App, you agree to be bound by
        these Terms. If you do not agree with any part of these Terms, do not use the App.
        </h5>
    <h2 class="block-title text-capitalize text-success">1. Use of the App.</h2>

    <ul class="block-list">
        <li>
            <p> <span class="text-primary">1.1. Eligibility:</span> To use the App, you must be at least 16 years old. By using the App, you represent and warrant that you
                meet this eligibility requirement.</p>
        </li>
        <li>
            <p> <span class="text-primary">1.2. Account Registration:</span>You may need to create an account to access certain features of the App. When registering, you agree to
                provide accurate, complete, and up-to-date information. You are solely responsible for maintaining the
                confidentiality of your account credentials and are liable for any activities conducted through your
                account</p>
        </li>
        <li>
            <p> <span class="text-primary">1.3. Prohibited Activities:
            </span> You agree not to engage in any of the following activities while using the App:
                <ol type="a" style="padding: 0 2rem;">
                    <li>Violating any applicable laws, regulations, or third-party rights;</li>
                    <li> Impersonating any person or entity;
                    </li>
                    <li>Using the App for any illegal, harmful, or fraudulent purpose;</li>
                    <li>Interfering with or disrupting the functionality of the App or servers;</li>
                    <li> Uploading or transmitting viruses, malware, or any other harmful code;
                    </li>
                    <li> Collecting or storing personal information of other users without their consent;
                    </li>
                    <li>  Engaging in any activity that may negatively affect the App's performance, availability, or security.
                    </li>
                </ol>
            </p>
        </li>
    </ul>
    <h2 class="block-title text-capitalize text-success"> 2. Subscription and Payment.</h2>
    <ul class="block-list">
        <li>
            <p> <span class="text-primary">2.1. Subscription:
            </span> The App operates on a subscription basis. By subscribing to our services, you agree to pay the applicable
            subscription fees as stated in the App. The subscription fees are subject to change, and we will notify
            you in advance of any modifications.</p>
        </li>
        <li>
            <p> <span class="text-primary">2.2. Payment Information:
            </span> You agree to provide accurate and complete payment information when subscribing to our services. We
            may use third-party payment processors to process your payments, and you authorize us to share your
            payment information with such processors.</p>
        </li>
        <li>
            <p> <span class="text-primary">2.3. Automatic Renewal:
            </span>Unless you cancel your subscription before the end of the current billing cycle, your subscription will
            automatically renew for another cycle. You authorize us to charge your chosen payment method for the
            renewal fees.
            </p>
        </li>
        <li>
            <p> <span class="text-primary">2.4. Cancellation and Refunds:
            </span>You may cancel your subscription at any time, but we do not provide refunds for any unused portion of
            the subscription period.
            </p>
        </li>
    </ul>
    <h2 class="block-title text-capitalize text-success"> 3. Intellectual Property Rights</h2>
    <ul class="block-list">
        <li>
            <p> <span class="text-primary">3.1. Ownership:
            </span>The App and its content, including but not limited to text, graphics, logos, and software, are protected
            by intellectual property laws and are the exclusive property of Nivee LLC or its licensors. You agree not
            to reproduce, modify, distribute, or create derivative works based on the App without our prior written
            consent.</p>
        </li>
        <li>
            <p> <span class="text-primary">3.2. User Content:
            </span>By using the App, you grant us a non-exclusive, worldwide, royalty-free license to use, reproduce,
            modify, distribute, and display any content you submit or transmit through the App, solely for the
            purpose of providing the App's services.
            </p>
        </li>
    </ul>
    <h2 class="block-title text-capitalize text-success">4. Disclaimer of Warranties</h2>
    <p>The App is provided on an "as-is" and "as available" basis, without any warranties or representations,
        express or implied. We do not guarantee that the App will be error-free, uninterrupted, or secure. You
        use the App at your own risk.</p>
    <h2 class="block-title text-capitalize text-success">5. Limitation of Liability</h2>
    <p>To the extent permitted by applicable laws, we shall not be liable for any direct, indirect, incidental,
        consequential, or exemplary damages arising out of or in connection with your use of the App, even if
        we have been advised of the possibility of such damages.</p>
    <h2 class="block-title text-capitalize text-success">6. Indemnification
    </h2>
    <p>You agree to indemnify and hold us harmless from any claims, losses, liabilities, damages, expenses, or
        costs, including reasonable attorneys' fees, arising out of or in connection with your use of the App,
        violation of these Terms, or infringement of any third-party rights.</p>
    <h2 class="block-title text-capitalize text-success">7. Modification of Terms
    </h2>
    <p>We reserve the right to modify these Terms at any time. Any changes will be effective immediately upon
        posting within the App. Your continued use of the App after the posting of revised Terms constitutes
        your acceptance of such changes.</p>
    <h2 class="block-title text-capitalize text-success">8. Termination
    </h2>
    <p>We may terminate or suspend your access to the App, without prior notice or liability, for any reason,
        including but not limited to your violation of these Terms. Upon termination, your right to use the App
        will cease immediately.
        </p>
    <h2 class="block-title text-capitalize text-success">9. Governing Law and Jurisdiction
    </h2>
    <p>These Terms shall be governed by and construed in accordance with the laws of governing law. Any disputes arising out of or in connection with these Terms shall be subject to the
        exclusive jurisdiction of the courts.
        </p>
    <h2 class="block-title text-capitalize text-success">10. Contact Us
    </h2>
    <p>If you have any questions, concerns, or requests regarding these Terms, please contact us at
        adm@niveel.com.
        </p>
        <h5>By using the Itsready Mobile App, you acknowledge that you have read and understood these Terms and
            agree to be bound by them</h5>
</main>
{% endblock %}