{% extends "base.html" %}
{% load i18n %}
{% block title %}
Logged out
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% translate 'Home' %}</a></div>
{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
<style>
    #logout-container {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }
</style>
<main class="container" id="logout-container">
    <p>{% translate "Thank you for using Itsreaddy!" %}</p>
    
    <a href="{% url 'login' %}" class="btn btn-success">{% translate 'Log in again' %}</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Home</a>

</main>

{% endblock %}
