{% extends "base.html" %}
{% block title %}
Register
{% endblock %}
{% block content %}
<!-- styles -->
<style>
    .signup-form {
        width: 100%;
        max-width: 30rem;
    }
    .signup-form input {
        color: #27ae60!important;
    }
    .signup-form input:not(:last-child) {
        margin-bottom: .5rem;
        padding: 0.5rem;
    }
    .signup-form label {
        display: none;
    }
    .signup-form br {
        display: none;
    }
    .helptext {
        width: 100%;
        padding: 0.5rem;
        background: white;
        color: rgb(146, 8, 8)!important;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }
    @media (max-width: 480px) {
        .signup-form,
        .signup-form input {
            font-size: 0.8rem;
        }
    }
</style>
<!-- end of styles -->
<div class="container mh100 justify-content-center flex-column align-items-center d-flex" style="padding-top: 75px;">
    <form class="signup-form p-4 d-flex flex-column bg-success rounded shadow" action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        {{form}}
        {% comment %} google capture verification {% endcomment %}
        
        <div class="g-recaptcha" data-sitekey="6LfEJ8onAAAAALh-eVIIHBseSNg-rjXqjreG_ur5"></div>

        <input type="submit" class="btn btn-light text-success font-weight-bold fz-sm d-block w-50" value="Signup" />
    </form>
    <div class="info-box">
        <p class="helptext d-flex gap-2">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>
</div>
  
{% endblock %}