{% extends "dashboard/dashboard_base.html" %}
{% load static %}
{% block content %}

<!-- end of main container -->
<main class="main-container">

  <!-- button that allows user to scroll to top of page -->
  <style>
    .scroll-top-btn {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: .5s;
      -webkit-transition: .5s;
      -ms-transition: .5s;
      -moz-transition: .5s;
      -o-transition: .5s;
    }
    .scroll-top-btn.active {
      visibility: visible;
      opacity: 1;
      pointer-events: all;
    }
    .compose-sms-box {
      display: none;
      width: clamp(100%, 60%, 70%);
      margin: 2rem auto;
      animation: fade 0.5s ease backwards;
      -webkit-animation: fade 0.5s ease backwards;
      -moz-animation: fade 0.5s ease backwards;
      -o-animation: fade 0.5s ease backwards;

      & textarea {
        width: 100%;
        height: 10rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 1rem;
        resize: none;
        margin-bottom: 1rem;
      }
      & button {
        width: 5rem;
        display: block;
        margin: 0 auto;
      }
    }
    .compose-sms-box.active {
      display: block;
      animation: fade 0.5s ease backwards;
      -webkit-animation: fade 0.5s ease backwards;
      -moz-animation: fade 0.5s ease backwards;
      -o-animation: fade 0.5s ease backwards;
    }
    @media (max-width: 768px) {
      #contacts-table {
        overflow: auto;
        max-width: 100%;
      }
      .contacts-total-hd {
        font-size: 1.5rem;
      }
      article {
        margin-bottom: 10rem;
      }
    }
    @media (max-width: 480px) {
      .top-bar {
        flex-direction: column;
        gap: 2rem;

        & input {
          width: 100%;
        }
      }
      .scroll-top-btn {
        bottom: 8rem;
        right: 2rem;
      }
      .contacts-total-hd {
        font-size: 1.2rem;
      }
      .contacts-container {
        overflow-x: auto;
      }
    }
  </style>
  <button class="scroll-top-btn text-white" data-scroll-top-btn aria-label="scroll to top button">
    <i class="fas fa-arrow-up"></i>
  </button>
  <!-- end of button -->
  <!-- sidebar -->
  <aside class="sidebar" data-sidebar>

    <div class="sidebar-info">

      <div class="info-content">
        <h2 class="name">ITSREADY</h2>
        <p class="title">dashboard</p>
      </div>

      <button class="info_more-btn" data-sidebar-btn aria-label="sidebar menu toggle button">
        <i class="fas fa-plus"></i>
      </button>

    </div>

    <div class="sidebar-info_more">

      <div class="separator"></div>

      <ul class="contacts-list">

        <!-- <li class="contact-item">

          <div class="icon-box">
            <i class="fas fa-calendar">ddd</i>
          </div>

          <div class="contact-info">
            <a href="{% url 'home' %}" class="contact-title">ITSREADY</a>
            <time datetime="1982-06-23">June 23, 1982</time>
          </div>

        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle txt-white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ request.user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="{% url 'logout' %}" class="dropdown-item text-success logout-link" data-toggle="modal" data-target="#logout">
              <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
              <span class="title">Logout</span>
            </a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle txt-white" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-cog"></i>
            settings
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a href="#n" class="dropdown-item text-success logout-link">
              change password
            </a>
            <a href="#n" class="dropdown-item text-success logout-link">
              change password
            </a>
            <a href="#n" class="dropdown-item text-success logout-link">
              change password
            </a>
            <a href="#n" class="dropdown-item text-success logout-link">
              change password
            </a>
          </div>
        </li>

      </ul>

      <div class="separator"></div>

      <ul class="social-list">

        <li class="social-item">
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li class="social-item">
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

      </ul>

    </div>

  </aside>

  <!--
    - #main-content
  -->

  <div class="main-content">

    <!--
      - #NAVBAR
    -->

    <nav class="dashboard-navbar">

      <ul class="navbar-list">

        <li class="navbar-item">
          <button class="navbar-link  active" data-nav-link>Home</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Messages</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>History</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Contacts</button>
        </li>

        <li class="navbar-item">
          <button class="navbar-link" data-nav-link>Another</button>
        </li>

      </ul>

    </nav>
    <!--
      - #ABOUT
    -->

    <article class="home  active" data-page="home">

      <header>
        <h2 class="h2 article-title">Home</h2>
      </header>
      <!-- home body -->
      <!-- stats section -->
      <section class="stats-wrapper">
        <!-- start -->
        <div class="stat-box" tabindex="0">
          <div class="content-box">
            <h3 class="stat-title">Total contacts</h3>
            <p class="stat-number" id="total-contacts-stat-num"></p>
          </div>
          <div class="icon-box">
            <i class="fas fa-users"></i>
          </div>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="stat-box" tabindex="0">
          <div class="content-box">
            <h3 class="stat-title">Total sms sent</h3>
            <p class="stat-number">1,200</p>
          </div>
          <div class="icon-box">
            <i class="fas fa-sms"></i>
          </div>
        </div>
        <!-- end -->
        <!-- start -->
        <div class="stat-box" tabindex="0">
          <div class="content-box">
            <h3 class="stat-title">Total voicemails</h3>
            <p class="stat-number">1,200</p>
          </div>
          <div class="icon-box">
            <i class="fas fa-microphone"></i>
          </div>
        </div>
        <!-- end -->
        <!-- start -->
        <!-- <div class="stat-box" tabindex="0">
          <div class="content-box">
            <h3 class="stat-title">Total Users</h3>
            <p class="stat-number">1,200</p>
          </div>
          <div class="icon-box">
            <i class="fas fa-users"></i>
          </div>
        </div> -->
        <!-- end -->
      </section>
      <!-- end of stats section -->
      <!-- itsready banner box -->
      <div class="home-banner-box container bg-green-gradient my-5 p-2 rounded shadow ">
        <div class="row justify-content-center flex-column align-items-center">
          <div class="col-12 col-md-6">
            <h2 class="banner-title display-4 text-uppercase text-white text-center">Itsready</h2>
          </div>
          <div class="col-12">
            <p class="banner-text text-center text-white fz-xsm mxw-700 d-block mx-auto">ITSREADY is a versatile platform designed to enhance your communication experience. With ITSREADY, you can effortlessly send both SMS and voicemails to your saved contacts, all within one streamlined interface. Whether you need to deliver quick text messages or expressive voicemails, ITSREADY ensures that your messages reach your intended recipients without hassle. Say goodbye to juggling multiple platforms – ITSREADY simplifies your communication by bringing SMS and voicemails together for your convenience.</p>
          </div>
        </div>
      </div>
      <!-- end of itsready banner box -->
      <!-- details section -->
      <style>
        .card {
          width: 100%;
          height: 18rem;
          overflow: auto;
          margin-bottom: 0.2rem;
        }
        @media (max-width: 480px) {
          .card {
            width: 100%;
          }
        }
      </style>
      <div class="container">
        <div class="row align-items-center justify-content-center">

          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-success">
                  <i class="fas fa-sms"></i>
                  Send messages to your contacts</h5>
                <h6 class="card-subtitle mb-2 text-muted">Via sms</h6>
                <p class="card-text fz-xsm">"ITSREADY" enables you to effortlessly send SMS to your agents by saving their contacts on the designated webpage's contacts tab. Stay connected seamlessly!</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-success">
                  <i class="fas fa-microphone"></i>
                  Send voicemails to your contacts</h5>
                <h6 class="card-subtitle mb-2 text-muted">Via sms</h6>
                <p class="card-text fz-xsm">"ITSREADY" makes it effortless to send voicemails to your agents by storing their contacts in the contacts tab. Stay connected by using this platform for smooth communication!</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-success">
                  <i class="fas fa-sms"></i>
                  Send messages to agents</h5>
                <h6 class="card-subtitle mb-2 text-muted">Via sms</h6>
                <p class="card-text fz-xsm">"ITSREADY" enables you to effortlessly send SMS to your agents by saving their contacts on the designated webpage's contacts tab. Stay connected seamlessly!</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <!-- end of details section -->
      <!-- end of home body -->
    </article>

    <article class="messages" data-page="messages">

      <header>
        <h2 class="h2 article-title">Messages</h2>
      </header>
      <!-- messages tab body -->
      <!-- compose message  -->
      <button class="btn btn-success my-3 compose-sms-reveal-btn">Compose sms</button>

      <div class="compose-sms-box" role="alert" aria-label="compse message here">
        <textarea placeholder="compse message here"></textarea>
        <button class="btn btn-success" data-target="#sendMessage" data-toggle="modal">Send</button>
      </div>
      <!-- end of compose message  -->
      <!-- end of tab messages body -->

    </article>

    <article class="history" data-page="history">

      <header>
        <h2 class="h2 article-title">History</h2>
      </header>


    </article>
    <!--
      - #BLOG
    -->

    <article class="contacts" data-page="contacts">

      <header>
        <h2 class="h2 article-title">Contacts</h2>
      </header>

      <!-- contacts tab body -->
      <!-- contacts-wrapper -->
      <div class="contacts-container">
        <button class="add-contact-btn btn btn-primary ml-auto d-block mb-3" aria-label="add contact button" data-toggle="modal" data-target="#addcontact" data-toggle="tooltip" data-placement="left" title="Add contact">
          <i class="fas fa-plus"></i>
        </button>
        <div class="top-bar d-flex justify-content-between align-items-center mb-3" >
          <h2 class="heading d-flex contacts-total-hd" style="flex-wrap: nowrap; white-space: nowrap;">Contacts ( <span id="total-contacts-num">0</span> ) </h2>
          <form action="#n">
            <div class="col-auto">
              <div class="input-group mb-2">
                <input type="search" class="form-control-lg" id="contacts-search-bar" placeholder="Search name ">
              </div>
            </div>
          </form>
        </div>
        <table class="table" id="contacts-table" data-table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Number</th>
            </tr>
          </thead>
          <tbody>
            <!-- table row start -->
            <tr class="contacts-row-data">
              <th scope="row" data-index></th>
              <td>Mark</td>
              <td>Otto@gmail</td>
              <td>8786</td>
            </tr>
            <!-- end of table row start -->
            <!-- table row start -->
            <tr class="contacts-row-data">
              <th scope="row" data-index></th>
              <td>Felix</td>
              <td>feboapong@gmail</td>
              <td>0548285798</td>
            </tr>
            <!-- end of table row start -->
          </tbody>
        </table>
      </div>
      <!-- end of contacts-wrapper -->
      <!-- end of contacts tab  body -->

    </article>

    <!-- #CONTACT -->
    <article class="contact" data-page="another">
      <header>
        <h2 class="h2 article-title">Another</h2>
      </header>

    </article>

  </div>

</main>
<!-- end of main container -->

<!-- ===================modal popups======== -->
<!-- modal popup for logout -->
<div class="modal fade" id="logout" tabindex="-1" role="dialog" aria-labelledby="logoutLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutLabel">Are you sure you want to log out?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <a href="{% url 'logout' %}" type="button" class="btn btn-success">Log out</a>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal popup for logout -->
<!-- modal popup for delete contact -->
<div class="modal fade" id="delContact" data-delete-contact-modal tabindex="-1" role="dialog" aria-labelledby="delContactLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delContactLabel">Are you sure you want to delete this contact?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete-confirm-btn" data-dismiss="modal">Delete contact</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal popup for logout -->
<!-- modal popup for add contact -->
<div class="modal fade" id="addcontact" tabindex="-1" role="dialog" aria-labelledby="addcontactlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addcontactlabel">Add a contact to the contact list</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- add contact form -->
        <form id="add-contact-form">
          <div class="form-group">
            <label for="add-contact-name">Name</label>
            <input type="text" class="form-control" id="add-contact-name" placeholder="Contact name" required>
          </div>
          <div class="form-group">
            <label for="add-contact-email">Email</label>
            <input type="email" class="form-control" id="add-contact-email" placeholder="Contact email" required>
          </div>
          <div class="form-group">
            <label for="add-contact-num">Number</label>
            <input type="number" class="form-control" id="add-contact-num" placeholder="Contact number (add country code)" required>
          </div>
        </form>
        <!-- end of add contact form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-success" id="add-contact-submit-btn" data-dismiss="modal">Add contact</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal popup for add contact -->
<!-- modal popup for edit contact -->
<div class="modal fade" id="editContact" tabindex="-1" role="dialog" aria-labelledby="editcontactlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editcontactlabel">Edit this contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- edit contact form -->
        <form id="edit-contact-form" action="#">
          <div class="form-group">
            <label for="contactName">Name</label>
            <input type="text" class="form-control" id="edit-contact-name" placeholder="Contact name" required>
          </div>
          <div class="form-group">
            <label for="contactNum">Number</label>
            <input type="number" class="form-control" id="edit-contact-phone" placeholder="Contact number (add country code)" required>
          </div>
          <div class="form-group">
            <label for="contactEmail">Email</label>
            <input type="email" class="form-control" id="edit-contact-email" placeholder="Contact email" required>
          </div>
        </form>
        <!-- end of edit contact form -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" id="updateContact" class="btn btn-primary" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal popup for add contact -->
<!-- modal popup for send message -->
<div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="sendmessagelabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sendmessagelabel">Send message to this contact</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="#">
        <div class="form-group">
          <label for="compose-message">Example textarea</label>
          <textarea class="form-control" id="compose-message" rows="5"></textarea>
        </div>
       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="button" id="updateContact" class="btn btn-success" data-dismiss="modal">Send message</button>
      </div>
    </div>
  </div>
</div>
<!-- end of modal popup for send message -->
<!-- modal popup for send message -->
<div class="modal fade" id="sendMessage" tabindex="-1" role="dialog" aria-labelledby="sendMessageLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="logoutLabel">Send to</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <a href="#" type="button" class="btn btn-success">send</a>
      </div>
    </div>
  </div>
</div>
<!-- end of modal popup for send message -->

<script>
  const composeSmsRevealBtn = document.querySelector('.compose-sms-reveal-btn');

  // add active class to compose sms box when compose sms button is clicked
  composeSmsRevealBtn.addEventListener('click', () => {
    document.querySelector('.compose-sms-box').classList.toggle('active');
  });
</script>
{% endblock %}