{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/x-icon">
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body> 
   
{% block content %}

{% endblock %}

<!-- end of footer -->
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<!-- aos init -->
<script>
     AOS.init({
        offset: 50,
        delay: 100,
        duration: 800,
        easing: 'ease',
        once: false,
        mirror: false,
        anchorPlacement: 'top-bottom'
    })
</script>
</body>
</html>