{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/x-icon">
    <script src="{% static 'js/all.js' %}"></script>
</head>
<body> 
   
{% block content %}

{% endblock %}
<!-- end of footer -->
<script src="{% static 'js/aos.js' %}"></script>
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
<!-- aos init -->
<script>
     AOS.init({
        offset: 50,
        delay: 100,
        duration: 800,
        easing: 'ease',
        once: false,
        mirror: false,
        anchorPlacement: 'top-bottom'
    })

        //filtering contacts
document.getElementById("contacts-search-bar").onkeyup = function(e) {
var search = document.getElementById("contacts-search-bar").value.toLowerCase();
}
//end of filtering contacts
const userId = '{{ request.user.id}}'
const csrf_token = '{{ csrf_token }}'


window.addEventListener("load", ()=>{
    fetch(`http://localhost:8000/api/get_contacts/?userid=${userId}`).then((res) => res.json()).then((data) => {
        const contacts = data
       // displaying all the contacts data fetched from the api 
        contacts.map((contact) => {
            const contactsRow = document.querySelector("#contacts-row-data")

            contactsRow.innerHTML += ` 
            <tr>
                <th scope="row" data-index="${contact.id}">${contact.id}</th>
                <td class="text-capitalize">${contact.contact_name}</td>
                <td>${contact.contact_email}</td>
                <td>
                    <a href="tel:${contact.contact_phone_number}">${contact.contact_phone_number}</a> 
                </td>
                <td class="d-flex">
                    <button class="btn btn-success btn-sm mr-2" data-toggle="modal" data-target="#editContact" data-index="${contact.id}"><i class="fas fa-edit"></i>  Edit</button>

                    <button class="btn btn-danger btn-sm delete-contact" 
                    id="del-contact-btn"
                    data-index="${contact.id}"><i class="fas fa-trash"></i>  Del</button>
                </td>
    
             </tr>
            `   
        })
        // displaying the number of contacts
        const contactsCount = document.querySelector("#total-contacts-num")
        contactsCount.textContent = contacts.length

        // display total number of contacts in the home stats 
        const totalNumOfContacts = document.querySelector("#total-contacts-stat-num")
        totalNumOfContacts.textContent = contacts.length
        
        // delete the contact with the id of the contact being clicked to be deleted
        const allDelContactBtns = document.querySelectorAll("#del-contact-btn")
        
        allDelContactBtns.forEach((delContactBtn) => {
            delContactBtn.addEventListener("click", (e) => {
                const contactId = e.target.dataset.index
                const delContactBtns = document.querySelectorAll("#del-contact-btn")
 
                fetch(`http://localhost:8000/api/delete_contact/?contactid=${contactId}`, {
                    method: "DELETE",
                    headers: {
                    "Content-Type": "application/json",
                    "X-CSRFToken": csrf_token
                    },
                }).then((res) => res.json()).then((data) => {
                    if(data.status === "success"){
                        window.location.reload()
                    }else{
                        alert(data.message)

                    }
                })
            })
        })
        
    })

    // adding a new contact
    const addContactName = document.querySelector("#add-contact-name")
    const addContactEmail = document.querySelector("#add-contact-email")
    const addContactNum = document.querySelector("#add-contact-num")
    const addContactBtn = document.querySelector("#add-contact-submit-btn")

    // adding contact to the database
    addContactBtn.addEventListener("click", (e) => {
        e.preventDefault()
        const addContactNameVal = addContactName.value
        const addContactEmailVal = addContactEmail.value
        const addContactNumVal = addContactNum.value

        fetch("http://localhost:8000/api/add_contact/", {
           method: "POST",
            headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": csrf_token
            },
            body: JSON.stringify({
                contact_name: addContactNameVal,
                contact_email: addContactEmailVal,
                contact_phone_number: addContactNumVal,
                userid: userId
            }),
        }).then((res) => res.json())
        .then((data) => {
            if(data.status === "success"){
                window.location.reload()
            }else{
                alert("Something went wrong, could not add contact.")
            }
        })
        
    })

})
// seaching the contacts and updating table
const searchContact = document.querySelector("#contacts-search-bar")

searchContact.addEventListener("keyup", (e) => {
    const searchContactVal = e.target.value.toLowerCase()
    const contactsRow = document.querySelector("#contacts-row-data")
    const contactsRowData = contactsRow.querySelectorAll("tr")

    contactsRowData.forEach((contact) => {
        const contactName = contact.querySelector("td:nth-child(2)").textContent.toLowerCase()
        const contactEmail = contact.querySelector("td:nth-child(3)").textContent.toLowerCase()
        const contactNum = contact.querySelector("td:nth-child(4)").textContent.toLowerCase()

        if(contactName.indexOf(searchContactVal) > -1 || contactEmail.indexOf(searchContactVal) > -1 || contactNum.indexOf(searchContactVal) > -1){
            contact.style.display = ""
        }else{
            contact.style.display = "none"
        }
    })
})

</script>

</body>
</html>